.address-card{
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
}
.card-title{
    margin: 20px;
}
.card-text {
    font-size: 15px;
    padding: 0;
    /* line-height: 2px; */
}

.card-form {
    background-color: #eee;
    padding: 40px;
    border-radius: 5px;
    margin-top: 2%;
}
.card-form:hover{
    box-shadow: 5px 5px 15px 15px #a9a9a9;
    transition: 1s;
    transform: scale(1.05,1.05);
}