.error-bar {
    width: 200px;
    line-height: 30px;
    background-color: #f8d7da;
    border-radius: .25rem;
    color: #721c24;
    text-align: center;
    margin: 10px;
}
.success-bar {
    width: 200px;
    line-height: 30px;
    background-color: #d4edda;
    border-radius: .25rem;
    color: #155724;
    text-align: center;
    margin: 10px;
}