.popularFilter {
    margin-left:3%;
    width: 20%;
}

.left {
    margin-top: 0;
}
.card{
    width:50%;
}
.product{
    display: inline-block;
}
.card-data-home {
    width: 70%;
}
.product {
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
.card-title {
    font-size: 15px;    
}
.product-preview {
    margin-top: 3%;
}
a {
    color: #090909;
}
.price {
    font-size: 20px;
    color: red
}