.popularFilter {
    margin-left:3%;
    width: 20%;
}

.card-image{
    width: 30%;
    margin-top: 0;
    margin-bottom: 5%;
}
.card{
    width:50%;
}
.product{
    display: inline-block;
}
.card-data-home {
    width: 70%;
}
.product {
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
.card-title {
    font-size: 15px;    
}