td {
    width: 500px;
}
td:nth-child(odd){
    background-color: #eee;
}
tr {
    width: 100%;
}
.buying-bar {
    line-height: 30px;
    border-radius: .25rem;
    text-align: center;
    margin: 10px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.pro-img {
    margin-top: 15%;
    width: 120%;
}