td {
    width: 500px;
}
td:nth-child(odd){
    background-color: #eee;
}
tr {
    width: 100%;
}
.success-bar {
    line-height: 30px;
    background-color: #d4edda;
    border-radius: .25rem;
    color: #155724;
    text-align: center;
    margin: 10px;
}